<!--post details-->
<div class="row mb-4 post">
  <div class="col-md-12">
    <h2>
      {{post.title}}
    </h2>
    <p>
      {{post.contents}}
    </p>
    <p class="small">Created by {{post.user.name}} on {{post.date_created}}</p>    
</div>
 {{#if logged_in}}
<!--comment form-->
<div class="col-md-12">
    <form class="form comment-form">
    <div class="form-group">
        <label for="comment-contents">Comment</label><br>
        <textarea class="form-input" type="text" id="comment-body" name="comment-body" /></textarea>
        <input type="hidden" id="post-id" value="{{post.id}}"">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </div>
    </form>
</div>
{{/if}}

<!--diplay comments-->
<div class="col-md-12">
    {{#each comments as |comment| }}
    <p>
      {{comment.contents}}
    </p>
    <p>Created by {{comment.user.name}} on {{comment.date_created}}</p>
    {{/each}}
</div>

<script src="/js/post.js"></script>